* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -----> Configuracion de Index.html <----- */
.encabezado {
    /* Altura */
    height: 70px;
    /* Color de Fondo */
    background: #ebd5c7;
    display: flex;
    justify-content: space-between;
}

.logotipo {
    margin-left: 10px;
    width: 70px;
    height: 70px;
}

.menu_selectivo {
    line-height: 65px;
    margin-right: 10px;
}

.menu_selectivo a {
    /* Margen Lateral derecho */
    padding: 10px;
    /* Redondear las Esquinas */
    border-radius: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 16px;
    color: #925446; /* Color de texto */
}

.menu_selectivo a:hover {
    padding: 10px;
    border-radius: 10px;
    background: #d08d80; /* Color de fondo al pasar el mouse */
    color: #FCFCFC;
}

#contacto_btn {
    padding: 10px;
    border-radius: 10px;
    background: #d08d80; /* Color de fondo del botón */
    color: #FCFCFC;
}

.contenedor_general {
    padding: 20px;
}

.intermedio img {
    height: 75vh; 
    width: 100%; 
    object-fit: cover;
}

.principal_intermedio {
    filter: contrast(120%); 
    height: auto; 
}


.contenedor_index {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 650px;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 20px;
}

.contenedor_index img {
    width: 600px;
    height: 450px;
}

.artitulo {
    width: auto;
    height: auto;
    padding: 5px;
}

.artitulo h2 {
    color: #747b69; /* Color del título */
    font-size: 25px;
    text-align: center;
}

.artitulo p {
    line-height: 28px;
    color: #343434;
}

footer {
    margin-top: 5px;
    height: 80px;
    background-color: #ebd5c7; /* Color de fondo del footer */
    display: flex;
    justify-content: center;
}

footer img {
    margin-top: 20px;
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

/* ---- Tarjetas Index ---- */
.tarjetas_index {
    display: flex;
    justify-content: center;
    grid-gap: 50px;
    padding-bottom: 120px;
    margin-top: -120px;
}

/* FLIP CARD */
.tarjeta_volteo {
    margin-top: 10%;
    width: 250px;
    height: 400px;
    perspective: 2000px;
}

.tarjeta_volteo-front img {
   margin-top: 20%;
    border-radius: 20px;
    max-width: 100%; 
    max-height: 100%;
}

.tarjeta_volteo-interno {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 28px;
    transition: all 550ms cubic-bezier(0.1, 0.22, 0.8, 1.13);
    transform-style: preserve-3d;
}

.tarjeta_volteo-front,
.tarjeta_volteo-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 28px;
    backface-visibility: hidden;
}

.tarjeta_volteo-front {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tarjeta_volteo-back {
    font-size: 1.25rem;
    text-align: center;
    display: grid;
    place-items: center;
    padding: 5px;
    background-color: #d08d80; /* Color de fondo de la parte trasera de la tarjeta */
    transform: rotateY(180deg);
    color: #ffffff; /* Color del texto en la parte trasera */
}

.tarjeta_volteo:hover .tarjeta_volteo-interno {
    transform: rotateY(-180deg);
}

/* -----> Configuración del Sector Agregar <----- */
.contendor_agregar {
    width: 1200px;
    height: 100%;
    border-radius: 20px;
    background-color: #fcfcfc;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px; /* Espacio interno */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.contendor_agregar > form {
    flex: 1 1 45%; /* Flexibilidad en el tamaño */
    margin: 10px; /* Margen entre los elementos */
    min-width: 300px; /* Ancho mínimo para cada elemento */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave para cada elemento */
    border-radius: 10px; /* Bordes redondeados para los elementos */
    padding: 15px; /* Espacio interno para los elementos */
    background-color: #FFFFFF; /* Color de fondo para los elementos */
}
.contendor_agregar svg{
    width: 38%;
    object-fit: cover;
}
.contendor_agregar img{
    width: 38%;
    object-fit: scale-down;
}
.contendor_agregar form{
    padding: 20px;
    width: 62%;
}

.contendor_agregar form h1 {
    font-size: 35px;
    color: #747b69; /* Color del encabezado en el formulario */
    text-align: center;
    margin-bottom: 20px;
}

.contendor_agregar form textarea{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    padding: 3px;
    margin: 8px 0;
    resize: none;
    border: 1px 1px #555555;
}
.contendor_agregar form input{
    width: 300px;
    border-radius: 10px;
    font-size: 20px;
    padding: 3px;
    margin: 8px 0;
    border: 1px 1px #555555;
}
.btn{
   margin-top: 15px;
   width: 99%;
}

.respuesta {
    color: #747b69; /* Color de respuesta */
    font-size: 18px;
    font-style: italic;
}

/* -----> Configuración del Sector Visualizar <----- */
.contenedor_visualizar {
    display: flex;
    justify-content: center;
}

.card {
    margin-left: 15px;  
}

.card-title {
    font-size: 18px;
}

.contacto_btl {
    padding: 10px;
    border-radius: 10px;
    background: #747b69; /* Color de fondo del botón de contacto */
    color: #FCFCFC;
}

.subtitulo_index {
    font-size: 45px;
    color: #395090;
    text-align: center;
    margin-bottom: 25px;
}
footer{
    background-color: #EEEEEE;
    height: fit-content;
}
/* -----> Configuración del Sector Modificar <----- */